// Main container styling
.recipe-list-container {
  padding: 20px;
  max-width: 1200px;
  margin: auto;
  font-family: 'Roboto', sans-serif;
  background-color: #faf3e0; // Light cream background
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 2.5rem;
  color: #6b4226; // Warm brown color
}

// List of recipes
.recipe-list {
  list-style-type: none;
  padding: 0;
}

.recipe-item {
  background: #fffaf0; // Soft cream background
  border: 1px solid #c0a080; // Light brown border color
  border-radius: 10px;
  margin-bottom: 25px;
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  text-decoration: none;
  color: #4f3821; // Dark brown text color

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  }
}

.recipe-item h2 {
  margin-top: 0;
  font-size: 1.75rem;
  color: #6b4226; // Warm brown color
}

.recipe-item p {
  margin: 10px 0;
  color: #4f3821; // Dark brown text color
}

.recipe-link {
  text-decoration: none;
  color: inherit;
}

.recipe-link:hover {
  text-decoration: none;
}

.tags-list,
.ingredient-list {
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
}

.tag-item,
.ingredient-item {
  background: #f4f4f4;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 7px 12px;
  margin-right: 8px;
  display: inline-block;
  font-size: 0.9rem;
  font-weight: bold;
}

.tag-item {
  background-color: #ffe0b2; // Soft orange background
  color: #bf360c; // Darker orange text
}

.ingredient-item {
  background-color: #ffebcd; // Blanched almond background
  color: #d97a4a; // Burnt orange text
}

.error {
  color: #e94e77; // Pink color for errors
  text-align: center;
}

img.recipe-image {
  max-width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
}
